:root {
  --bg: #013a63;
  --acent: #468faf;
}

.timeline-wrapper {
  width: 100%;
  height: 500px;
  border: 2px dashed rebeccapurple;
  position: relative;
}

/* Horizontal Line */

.line-wrapper {
  width: 100%;
  position: relative;
  display: flex;
  gap: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
}
.line,
.dot {
  height: 10px;
  border-radius: 2px;
}

.line {
  width: 95%;
  /* background-image: linear-gradient(to right, var(--bg), var(--acent)); */
  background-image: linear-gradient(to right, #d00000, #dc2f02, #f48c06);
}

.dot {
  width: 10px;
  background-color: #f48c06;
}

/* Items */

.items-wrapper {
  height: 100%;
  width: 95%;
  border: 1px dashed purple;
  display: flex;
}

.items-wrapper {
  height: 100%;
  width: 98%; /* Ensure this width matches .line-wrapper */
  border: 1px dashed purple;
  display: flex;
  justify-content: space-between;
  position: absolute;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item p {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  color: #fff;
  font-size: 2rem;
  /* background-color: #f48c06; */
  min-height: 150px; /* To make the letter start at same position*/
}

.item:nth-child(even) p {
  transform: rotate(0deg);
  transform: translateY(100px);
}
.item:nth-child(odd) p {
  transform: translateY(-100px);
  text-align: right;
}

/* .item:first-child p {
  position: absolute;
  left: 0;
}
.item:last-child p {
  position: absolute;
  right: 0;
} */
